* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}


.first h1 {
  font-weight: 800;
  font-size: 24px;
  color: white;
  padding-left: 100px;
  padding-top: 50px;
}

.first p {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: white;
}

.first {
  background: url("../img/header.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 400px;

}

.first button{
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
  background-color: #f9e42e;
  margin-top: 50px;
  padding: 10px 30px;
}

.second h2 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 100px;
  padding-left: 150px;
}

.second h2-description {
  font-weight: 200;
  font-size: 13px;
}

.bullet {
  padding-left: 150px;
  padding-top: 40px;
}

.second ul{
  font-weight: 200;
  font-size: 13px;
  padding-top: 30px;
}

.second {
  background-color: #f0efef;
  height: 400px;
}

.third {
  background: url("../img/testimonial.jpg") no-repeat;
  background-size: 100% auto;
  height: 300px;

}

.third p.quote {
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: white;
}

.third p.amanda {
  font-weight: 600px;
  font-size: 18px;
  text-align: center;
  color: white;
}

.amanda-quote {
  padding-top: 120px;
}

.fourth {
  background: #f9e42e;
  height: 150px;
  width: 100%;
}

.fourth button {
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  background-color: #033048;
  color: white;
  border: none;
  display: inline-block;
  margin-left: 44%;
  padding: 10px 30px;
  margin-top: 55px;

}

.fifth {
  background: #121212;
  height: 250px;
  width: 100%
}

.fifth p.logo {
  color: yellow;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
}

.fifth p.copyright {
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.fifth img {
  margin: center;
  display: inline-block;
  position: relative;
  left: 47%;
  margin-top: 50px;
  padding-bottom: 50px;

}
